{% macro option(name, vers, eol, selected=False) -%}
{% if eol %}
<option class="end-of-life" value="{{ name }}">{{ name }} ({{ vers }})</option>
{% elif selected %}
<option selected="true" value="{{ name }}">{{ name }} ({{ vers }})</option>
{% else %}
<option value="{{ name }}">{{ name }} ({{ vers }})</option>
{% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="description" content="Mirrors">
    <title>LUG's repo file generator</title>

    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="howto.js" charset="utf-8"></script>
    <script type="text/javascript" src="repo.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="header">
      <h1><a href="http://mirrors.ustc.edu.cn/">mirrors<span>.ustc.edu.cn</span></a></h1>
    </div>
    <div id="wrapper">
      <div id="content">
        <h1 id="title">repository file generator</h1>

        <div class="distribution" id="archlinux">
          <h4>Archlinux (/etc/pacman.d/mirrorlist):
            <select>
              <option selected="selected" value="http">HTTP</option>
              <option value="https">HTTPS</option>
              <option value="ftp">FTP</option>
            </select>
            <select>
              <option selected="selected" value="4">IPv4</option>
              <option value="6">IPv6</option>
            </select>
            <button name="Download">Download</button>
          </h4>
          <div id="archlinux-config">
            <pre></pre>
          </div>
        </div>

        <div class="distribution" id="debian">
          <h4>Debian (/etc/apt/sources.list):
            <select>
              <option selected="selected" value="http">HTTP</option>
              <option value="https">HTTPS</option>
              <option value="ftp">FTP</option>
            </select>
            <select>
              <option selected="selected" value="4">IPv4</option>
              <option value="6">IPv6</option>
            </select>
            <select>
              <option value="sid">sid (unstable)</option>
              <option value="stretch">stretch (testing)</option>
              <option selected="selected" value="jessie">jessie (stable)</option>
              <option value="wheezy">wheezy (oldstable)</option>
            </select>
            <button name="Download">Download</button>
          </h4>
          <div id="debian-config">
            <pre></pre>
          </div>
        </div>

        <div class="distribution" id="ubuntu">
          <h4>Ubuntu (/etc/apt/sources.list):
            <select>
              <option selected="selected" value="http">HTTP</option>
              <option value="https">HTTPS</option>
              <option value="ftp">FTP</option>
            </select>
            <select>
              <option selected="selected" value="4">IPv4</option>
              <option value="6">IPv6</option>
            </select>
            <select>
              {% for NAME, VERS, EOL in info -%}
              {{ option(NAME, VERS, EOL, loop.first) }}
              {%- endfor %}
            </select>
            <button name="Download">Download</button>
          </h4>
          <div id="ubuntu-config">
            <pre></pre>
          </div>
        </div>
      </div><!--content-->
      <p>Made by <a href="http://home.ustc.edu.cn/~halgu/">sNullp</a> <br>Send mirror related questions to mirrors@ustc.edu.cn.</p>
    </div> <!--wrapper-->
  </body>
</html>

